h1 {
  color: #d0504e;
}

img {
  height: 6rem;
}

ul {
  list-style-type: none;
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.btn-category {
  color: white !important;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  input {
    border: hidden;
  }
  p,
  i,
  input::placeholder{
    color: white;
  }
  i {
    cursor: pointer;
  }
  span {
    color: white;
  }
}

.dropdown-menu {
  max-width: 35rem;

  ul {
  color: white;
  li {
    margin: 0.5rem;
    width: 9rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
  }
}
  ::placeholder {
    color: grey !important;
}
input {
  border: hidden;
  outline: none;
  }
}

.dropdown-menu--ingredients {
  transform: translate3d(10.7%, 351px, 30px) !important;
  li:hover {
    color: #3282f7;
    background-color: white;
  }
}

.dropdown-menu--appliances {
  transform: translate3d(43.6%, 351px, 30px) !important;
  li:hover {
    color: #68d9a4;
    background-color: white;
  }
}

.dropdown-menu--ustensils {
  transform: translate3d(73%, 351px, 30px) !important;
  li:hover {
    color: #ed6454;
    background-color: white;
  }
}

.dropdown-menu--ingredients,
.btn-category--ingredients,
.btn-category--ingredients input {
  background-color: #3282f7;
}

.dropdown-menu--appliances,
.btn-category--appliances,
.btn-category--appliances input {
  background-color: #68d9a4;
}

.dropdown-menu--ustensils,
.btn-category--ustensils,
.btn-category--ustensils input {
  background-color: #ed6454;
}

.btn-search--icone {
  position: relative;
  right: 3rem;
}

.input-search {
  margin-left: 3.8rem !important;
}

.categories-container {
  margin-left: 3.4rem !important;
}

.recipe-card {
  margin: 2rem;
  height: 30rem;
  width: 32rem;
}

.recipe-image {
  height: 15rem;
  background-color: #c7bebe ;
}

.recipe-info {
  height: 15rem;
  background-color: #EFEFEF;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description {
  width: 50%;
}

.hide {
  display: none;
}
