h1 {
  color: #d0504e;
}

img {
  height: 6rem;
}

ul {
  list-style-type: none;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.btn-category {
  color: white !important;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  input {
    border: hidden;
  }
  p,
  i,
  input::placeholder{
    color: white;
  }
  i {
    cursor: pointer;
  }
  span {
    color: white;
  }
}

.dropdown-menu {
  max-width: 35rem;
  ul {
    color: white;
    li {
      margin: 0.5rem;
      width: 9rem;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      text-overflow: ellipsis;
    }
  }
  ::placeholder {
    color: grey !important;
  }
  input {
    border: hidden;
    outline: none;
  }
}

.dropdown-menu--ingredients {
  transform: translate3d(0, 15.3rem, 3rem) !important;
  li:hover {
    color: #3282f7;
    background-color: white;
  }
}

.dropdown-menu--appliances {
  transform: translate3d(0rem, 15.3rem, 30px) !important;
  li:hover {
    color: #68d9a4;
    background-color: white;
  }
}

.dropdown-menu--ustensils {
  transform: translate3d(0rem, 15.3rem, 30px) !important;
  li:hover {
    color: #ed6454;
    background-color: white;
  }
}

.ingredient-tag,
.dropdown-menu--ingredients,
.btn-category--ingredients,
.btn-category--ingredients input {
  background-color: #3282f7;
}

.appliance-tag,
.dropdown-menu--appliances,
.btn-category--appliances,
.btn-category--appliances input {
  background-color: #68d9a4;
}

.ustensil-tag,
.dropdown-menu--ustensils,
.btn-category--ustensils,
.btn-category--ustensils input {
  background-color: #ed6454;
}

.btn-search--icone {
  position: relative;
  right: 3rem;
}

.input-search {
  margin-left: 3.8rem !important;
}

.categories-container,
{
  margin-left: 3.2rem !important;
}

.categories-list {
  margin-left: 3.5rem !important;
  i::before {
    cursor: pointer;
  }
}

.categories-tag {
  display: block;
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.recipe-card {
  margin: 2rem;
  height: 30rem;
  width: 32rem;
}

.recipe-image {
  height: 15rem;
  background-color: #c7bebe ;
}

.recipe-info {
  height: 15rem;
  background-color: #EFEFEF;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description {
  width: 50%;
}

.hide {
  display: none;
}

@media screen and (min-width:900px) {
  .dropdown-menu--ingredients {
    transform: translate3d(3.6rem, 16.7rem, 3rem) !important;
  }

  .dropdown-menu--appliances {
    transform: translate3d(15rem, 16.7rem, 30px) !important;
  }

  .dropdown-menu--ustensils {
    transform: translate3d(25.4rem, 16.7rem, 30px) !important;
  }
}